.content {
    padding-top: 14%;
    padding-left: 19%;
    padding-right: 19%;
    padding-bottom: 20%;

    @media screen and (max-width: 800px) {
        padding-left: 15%;
        padding-right: 15%;
    }
    &__paragraph {
        font-size: 2.5rem;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }
}
