.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 35% auto 20%;
    @media screen and (max-width: 800px) {
        grid-template-rows: 20% auto 10%;
    }
}
