.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), $header_image;
    background-size: cover;
    padding: 0 10%;
    display: flex;
    align-items: center;

    &__title {
        color: #f2f2f2;
        font-family: $font_title;
        font-size: 5.5rem;

        @media screen and (max-width: 800px) {
            text-align: center;
            font-size: 5rem;
        }
    }
}
